@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background-color: #f7debe;
}

 .container {
    margin-left: 10%;
    justify-content: center;
 }
* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: "Poppins",'Times New Roman', serif;
}
::selection {
    background-color: #D3EE88;
    color: #8a33b5;
}
.nav-bar {
    background-color: black;
    color: #f7d09c;
    font-family: "Poppins",'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
}
.webname {
    margin: 8px 12px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin: 9px 30px;
    cursor: pointer;
}
.webname:hover {
    color: lime;
}
ul {
    display: flex;
    margin:8px 20px;
}
ul li {
    list-style: none;
    margin: 8px 12px;
    cursor: pointer;
}

ul li:hover{
    color: lightgreen;
}
p:hover {
    font-weight: 700;
    color: #8a33b5;
}
h2{
    cursor: pointer;
}
h2:hover {
    color: #03004cfc;
}
table {
    border: 2px solid rgb(0, 0, 0);
}
.container {
    max-width: 80vw;
    margin: 30px auto;
}
h1, h2, h3 {
    margin: 19px;
}
.btn{
    padding: 5px 10px;
    margin: 16px;
    background-color: #372815;
    font-weight: 900;
    color: white;
    border: 2px solid rgb(79, 75, 75);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 8px black;
    transition-duration:0.5s;
    transition-delay: 0.1s;
}
.btn:hover {
    background-color: #d0d8b8;
    color: black;
    font-weight: 900;
    box-shadow: 0 4px 10px black;
}

#web,#user,#pass {
    margin: 7px;
}
 table, td, tr {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 6px 23px;
 }
 .btnsm{
    padding: 5px 10px;
    background-color: #a59888;
    font-weight: 900;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(79, 75, 75);
    border-radius: 8px;
    cursor: pointer;
 }
 .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    gap: 10px; 
  }
  
  label {
    width: 150px;
    margin-top: 10px;
  }
  
  input {
    max-width: 200px;
    padding: 5px;
  }
  
  .btn {
    align-self: flex-start; 
    margin-top: 10px; 
  }
  
  