@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background-color: #f7debe;
}
* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: "Poppins",'Times New Roman', serif;
}
::selection {
    background-color: #D3EE88;
    color: #8a33b5;
}
.nav-bar {
    background-color: black;
    color: #f7d09c;
    font-family: "Poppins",'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
}
.webname {
    margin: 8px 12px;
    font-weight: 700;
    color: rgb(187, 136, 242);
    font-size: 23px;
    margin: 9px 30px;
    cursor: pointer;
}
.webname:hover {
    color: lightgreen;
}
ul {
    display: flex;
    margin:8px 20px;
}
ul li {
    list-style: none;
    margin: 8px 12px;
    cursor: pointer;
}
ul li:hover{
    color: lightgreen;
}
h2:hover {
    text-decoration: underline;
}
table {
    border: 2px solid rgb(0, 0, 0);
}
.container {
    max-width: 80vw;
    margin: 30px auto;
}
h1, h2, h3 {
    margin: 19px;
}
.btn{
    padding: 5px 10px;
    margin: 16px;
    background-color: #372815;
    font-weight: 900;
    color: white;
    border: 2px solid rgb(79, 75, 75);
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover {
    background-color: #D3EE88;
    color: black;
    font-weight: 900;
}

#web,#user,#pass {
    margin: 7px;
}
 table, td, tr {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 6px 23px;
 }